<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
<body class="body_details">
  <%- include('../partials/header') %> 
    <main data-2>
      <section data-1>
        <h2 hidden>Detalle de Producto</h2>
        <article>
          <img src="<%= product.image %>" alt="<%= product.name %>" data-1>
          <p><%= product.category %></p>
          <h3 data-1><%= product.name %></h3>
          <p data-5><%= product.price %></p>
          <button data-5>Agregar al Carrito</button>
        </article>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/descripcion.js"></script>
</body>
</html>