<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
<body class="body_details">
  <%- include('../partials/header') %> 
    <main class="main_details">
      <div class="image_description">
        <img src="<%= product.image %>" alt="">
      </div>
      <div class="right_description">
        <div class="product_name">
          <h2><%= product.name %></h2>
        </div>
        <div class="product_description">
          <p><%= product.description %></p>
        </div>
        <div class="product_price">
          <p><%= product.price %></p>
        </div>
        <div class="button_car">
          <button type="submit" onclick="">Agregar al Carrito</button>
        </div>
      </div>     
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/descripcion.js"></script>
</body>
</html>