<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main data-2>
        <section class="edit-product" data-1>
            <% if (product === null) { %>
            <h2 data-1>Agregar un producto</h2>
            <form action="/products/create" method="POST" enctype="multipart/form-data">
            <% } else { %>
            <h2 data-1>Editar un producto</h2>
            <form action="/products/edit/<%= product?.id %>/save?_method=PUT" method="POST" enctype="multipart/form-data">
            <% } %>
                <p data-4>
                    <label for="name">Nombre del producto:</label>
                    <input id="name" name="name" type="text" value="<%= product?.name %>" data-4>
                </p>
                <p data-4>
                    <label for="description">Descripción:</label>
                    <input id="description" name="description" type="text" value="<%= product?.description %>" data-4>
                </p>
                <p data-4>
                    <label for="image">Imagen:</label>
                    <input id="image" name="image" type="file" value="<%= product?.image %>" data-4>
                </p>
                <p data-4>
                    <label for="category">Categoría:</label>
                    <input id="category" name="category" type="text" value="<%= product?.category %>" data-4>
                </p>
                <p data-4>
                    <label for="price">Precio:</label>
                    <input id="price" name="price" type="number" value="<%= product?.price %>" data-4>
                </p>
                <button type="reset" data-4>Limpiar</button>
                <button type="submit" data-4>Guardar</button>
            </form>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>