<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

<body class="body_details">
  <%- include('../partials/header') %>
  <main data-2>
    <section class="product-info" data-1>
      <h2 hidden>Detalle de Producto</h2>
      <article class="product-content">
        <img class="product-image" src="/images/products/<%= product.images[0].url %>" alt="<%= product.name %>" data-1>
        <div class="product-description">
          <p data-6><%= product.category.name %></p>
          <h3 data-1><%= product.name %></h3>
          <p><%= product.description %></p>
          <p data-5>$<%= product.inventory.salePrice.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.") %></p>
          <form data-1>
            <div class="product-quantity">
              <button>-</button>
              <input type="number" value="1">
              <button>+</button>
            </div>
            <button data-5>Agregar al Carrito</button>
          </form>
          <% if(locals.userLogged) { %>
            <div class="container-e mt-1">
              <a href="<%= product.id %>/edit" class="button-a w-auto">Editar</a>
            </div>
          <% } %>
        </div>
      </article>
    </section>
  </main>
  <%- include('../partials/footer') %>
  <script src="/js/descripcion.js"></script>
</body>

</html>